.tableHeight{
 max-height: calc(100vh - 310px);
}
.inputfiled{
    /* border: 1px solid red !important;
    max-width: 80%; */
}
.formlabel{
    /* border: 1px solid red; */
    margin-bottom: 3px;
    font-size: 10px;
}

@media only screen and (max-width: 600px) {
 .maintempl{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}
/* .tempalteinputCards{
    background: white;
    padding: 10px;
    box-shadow:0 2px 4px rgba(0,0,0,0.1) ;
    border-radius: 6px;
    max-width: 90%;
} */

/* style={{ backgroundColor: "white", padding: "15px", borderRadius: "8px", boxShadow: "0 2px 4px rgba(0,0,0,0.1)" }} */